body {
	/*background-color: #ECF0F1;*/
}

.page-dashboard {
	padding-left: 230px;
}

/*select.form-control {
	border-radius: 0;
	background-image: url(../images/select-arrow.png);
	background-repeat: no-repeat;
	background-position: 98% center;
}
.section--margin-bottom-15 {
	margin-bottom: 15px;
}*/